project:
  type: website
  output-dir: docs

website:
  title: "Kit Eller's Website (For CompBio!)"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmos
      - brand
    css: styles.css
    toc: true



