project:
  type: website
  output-dir: docs

website:
  title: "compbio_webpage2.0_2026"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmos
      - brand
    css: styles.css
    toc: true



